# Node
node_modules/
Localfordataandtesting/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.docx
*.gdoc
*.gsheet
*.txt
*.log
*.pdf
*.csvB
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
pip-log.txt
pip-delete-this-directory.txt

# macOS
.DS_Store

# VSCode/Cursor
.vscode/
.cursor/

# Environment
.env
.env.*

# OS junk
Thumbs.db
B
